.s-TranslationGrid input.custom-text {
  width: 100%;
}

.s-UserPermissionDialog > .size,
.s-RolePermissionDialog > .size,
.s-UserRoleDialog > .size {
    min-width: 770px;
    width: 770px;
    min-height: 550px;
    height: 550px;
}

.s-UserPermissionDialog .s-DataGrid,
.s-RolePermissionDialog .s-DataGrid,
.s-UserRoleDialog .s-DataGrid {
  height: 100%;
}



.s-Workspace-ScannedSheetGrid .failedsheet .slick-cell,
.s-Workspace-ScannedSheetGrid .failedsheet .slick-cell a {
  background-color: red;
}

.s-Workspace-ScannedSheetGrid .warningsheet .slick-cell,
.s-Workspace-ScannedSheetGrid .warningsheet .slick-cell a {
  background-color: orange;
}

.s-Workspace-ScannedSheetGrid .successsheet .slick-cell,
.s-Workspace-ScannedSheetGrid .successsheet .slick-cell a {
  background-color: green;
}

.s-Workspace-ScannedSheetGrid .Opensheet .slick-cell,
.s-Workspace-ScannedSheetGrid .Opensheet .slick-cell a {
  background-color: lightgrey;
}
.s-Workspace-SerialKeyGrid .created .slick-cell,
.s-Workspace-SerialKeyGrid .created .slick-cell a {
  background-color: dodgerblue;
}
.s-Workspace-SerialKeyGrid .open .slick-cell,
.s-Workspace-SerialKeyGrid .open .slick-cell a {
    background-color: orange;
}
.s-Workspace-SerialKeyGrid .activated .slick-cell,
.s-Workspace-SerialKeyGrid .activated .slick-cell a {
      background-color: green;
 }
.s-Workspace-SerialKeyGrid .disabled .slick-cell,
.s-Workspace-SerialKeyGrid .disabled .slick-cell a {
  background-color: orange;
}
.s-Workspace-SerialKeyGrid .expired .slick-cell,
.s-Workspace-SerialKeyGrid .expired .slick-cell a {
        background-color: red;
}

.s-Workspace-SerialKeyGrid .offlineactivated .slick-cell,
.s-Workspace-SerialKeyGrid .offlineactivated .slick-cell a {
  background-color: orange;
}