.s-TranslationGrid input.custom-text {
  width: 100%;
}

.s-UserPermissionDialog > .size,
.s-RolePermissionDialog > .size,
.s-UserRoleDialog > .size {
    min-width: 770px;
    width: 770px;
    min-height: 550px;
    height: 550px;
}

.s-UserPermissionDialog .s-DataGrid,
.s-RolePermissionDialog .s-DataGrid,
.s-UserRoleDialog .s-DataGrid {
  height: 100%;
}

.s-Rio-Workspace-ScannedSheetGrid .failed-sheet .col-scanned-status {
  background-color: orange;
  color: #fff;
}

.s-Rio-Workspace-ScannedSheetGrid .warning-sheet .col-scanned-status {
  background-color: red;
  color: #000;
}

.s-Rio-Workspace-ScannedSheetGrid .success-sheet .col-scanned-status {
  background-color: green;
  color: #fff;
}