.s-TranslationGrid input.custom-text {
  width: 100%;
}

.s-UserPermissionDialog > .size,
.s-RolePermissionDialog > .size,
.s-UserRoleDialog > .size {
    min-width: 770px;
    width: 770px;
    min-height: 550px;
    height: 550px;
}

.s-UserPermissionDialog .s-DataGrid,
.s-RolePermissionDialog .s-DataGrid,
.s-UserRoleDialog .s-DataGrid {
  height: 100%;
}

/*.s-ScannedSheetGrid .failed-sheet .slick-cell,
.s-ScannedSheetGrid .failed-sheet .slick-cell a{
  background-color: red;
}

.s-ScannedSheetGrid .warning-sheet .slick-cell,
.s-ScannedSheetGrid .warning-sheet .slick-cell a{
  background-color: orange;
  color: white;
}*/

.s-ScannedSheetGrid .success-sheet {
  background-color: green;
}

  /*.s-ScannedSheetGrid .success-sheet .slick-cell,
  .s-ScannedSheetGrid .success-sheet .slick-cell a{
    color: white;
  }*/