@model Rio.Membership.ActivateEmailModel

<html>
<head>
    <title>Publisher Account Login Details</title>
</head>
<body>
    <p>Congratulations..!! Teacher Account Created Successfully</p>

    <p>Dear @Model.DisplayName,</p>

    <p>Your UserName:@Model.Username </p>
    <p>Your Password:@Model.Password </p>



    <p>If it wasn't you who requested this, you can ignore this email.</p>

    Thanks,
    <p> Team OMR </p>
</body>
</html>