@model Rio.Membership.ActivateEmailModel

<html>
<head>
    <title>Publisher Account Login Details</title>
</head>
<body>
    <p>Congratulations..!!</p>

    <p>Dear @Model.DisplayName,</p>

    <p>Your Rio21 Publisher Account has been Successfully created </p>

    <p>It will be Activated once Admin team will approve it</p>

    <p>you will be notified over email after account activation</p>
     
    <p>If it wasn't you who requested this, you can ignore this email.</p>

    Thanks,
    <p> Team Rioplay </p>
</body>
</html>