@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "ScannedSheet";
}
@section Head {
    @Html.StyleBundle("Pages/ScannedSheet")
}
<script type="module" src=@Html.ResolveWithHash("~/esm/Modules/Workspace/ScannedSheet/ScannedSheetPage.js")></script>
@Html.ScriptBundle("Base")
@Html.ScriptBundle("Site")
<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ScannedSheetGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>
